<!--javascript typewriter text-->
<h2 id="blog-text"><span class="typewrite"></span><span class="cursor">▌</span></h2>

<div class="box">
    <a href="https://www.startpage.com/" class="box-item">
        <h3>Post Title</h3>
        <p>Tag1, Tag2, Tag3</p>
        <p>Date</p>
    </a>

    <a href="https://www.startpage.com/" class="box-item">
        <h3>Post Title</h3>
        <p>Tag1, Tag2, Tag3</p>
        <p>Date</p>
    </a>

    <a href="https://www.startpage.com/" class="box-item">
        <h3>Post Title</h3>
        <p>Tag1, Tag2, Tag3</p>
        <p>Date</p>
    </a>
</div>