<!--javascript typewriter text-->
<h2><span id="contact-text"></span><span class="cursor">▌</span></h2>

<div class="box">

    <a href="mailto:adaboddicker@proton.me" class="box-item">
        <h3>Email</h3>
        <p>adaboddicker@proton.me</p>
    </a>

    <a href="https://www.startpage.com/"  class="box-item">
        <h3>LinkedIn</h3>
        <p>Placeholder</p>
    </a>

    <a href="https://github.com/AdaJoB"  class="box-item">
        <h3>GitHub</h3>
        <p>AdaJoB</p>
    </a>
</div>

