<!--javascript typewriter text-->
<h2><span id="projects-text"></span><span class="cursor">▌</span></h2>

<div class="box">

    <a href="https://github.com/AdaJoB/Portfolio" class="box-item">
        <h3>Portfolio</h3>
        <p>My professional portfolio created with Python Flask.</p>
    </a>

    <a href="https://www.startpage.com/" class="box-item">
        <h3>Placeholder</h3>
        <p>Placeholder</p>
    </a>

    <a href="https://www.startpage.com/" class="box-item">
        <h3>Perceptron</h3>
        <p>Placeholder</p>
    </a>

</div>
<!--Hopefully more projects to come (like bobblemaker.app or subdivisionsonline.com)-->
