<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ada Boddicker</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body> 
    <!--header display-->
    <header>
        <nav class="nav-left">
            <p>AB</p>
        </nav>

        <nav class="nav-right">
            <ul>
                <li><button id="theme-button" type="button">Theme</button></li>
                <!--TODO - create download for resume pdf-->
                <li><a href="placeholder.pdf" download>Resume</a></li>
                <li><button id="go-top">Home</button></li>
                <li><button id="go-about">About Me</button></li>
                <li><button id="go-projects">Projects</button></li>
                <li><button id="go-contact">Contact</button></li>
                <li><button id="go-blog">Blog</button></li>
                <li><button id="go-login">Login</button></li>
            </ul>
        </nav>

        <!--theme dropdown menu-->
        <div id="theme-dropdown">
            <div id="theme-selector">
                <button id="default-button" data-theme="default" type="button">Default</button>
                <button id="light-button" data-theme="light" type="button">Light</button>
                <button id="proton-button" data-theme="proton" type="button">Proton</button>
                <button id="forest-button" data-theme="forest" type="button">Forest</button>
                <button id="portal-button" data-theme="portal" type="button">Portal</button>
                <button id="peaks-button" data-theme="peaks" type="button">Peaks</button>
            </div>
        </div>
    </header>

    <!--sections displayed from index.html-->
    <main>{% block content %}{% endblock %}</main>

    <!--javascript integration-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>