<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ada Boddicker</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body> 
    <header>
        <nav class="nav-left">
            <p>AB</p>
        </nav>

        <nav class="nav-right">
            <ul>
                <li><a href="https://github.com/AdaJoB">GitHub</a></li>
                <li><a href="#hero">Home</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="hero">{% include "_hero.html" %}</section>
        <section id="about">{% include "_about.html" %}</section>
        <section id="projects">{% include "_projects.html" %}</section>
        <section id="contact">{% include "_contact.html" %}</section>
    </main>
</body>
</html>