<h2>Blog Posts</h2>

<div class="box">

    {% for blog_post in title %}
    <a href="https://www.startpage.com/" class="box-item">
        <h3>{{ blog_post.title }}</h3>
        <p> empty </p>
        <p> empty </p>
    </a>
    {% endfor %}
    
</div>