<h2>Blog Posts</h2>

<div class="box">

    {% for e in post %}
    <a href="https://www.startpage.com/" class="box-item">
        <h3>{{ e.title }}</h3>
        <p>tags</p>
        <p>{{ e.date }}</p>
    </a>
    {% endfor %}
    
</div>