<nav class="nav-left">
    <p>AB</p>
</nav>

<nav class="nav-right">
    <ul>
        <li class="dropdown">
            <!--theme dropdown menu-->
            <button id="theme-button" type="button">Theme</button>

            <div id="theme-dropdown">
                <div id="theme-selector">
                    <button id="default-button" data-theme="default" type="button">Default</button>
                    <button id="light-button" data-theme="light" type="button">Light</button>
                    <button id="proton-button" data-theme="proton" type="button">Proton</button>
                    <button id="forest-button" data-theme="forest" type="button">Forest</button>
                    <button id="portal-button" data-theme="portal" type="button">Portal</button>
                    <button id="peaks-button" data-theme="peaks" type="button">Peaks</button>
                </div>
            </div>
        </li>
        <!--TODO - create download for resume pdf-->
        <li><a href="placeholder.pdf" download>Resume</a></li>
        <li><a href="{{ url_for('public.home') }}">Home</a></li>
        <li><button id="go-login">Login</button></li>
    </ul>
</nav>



