{% extends "base.jinja" %}

{% block header %}
    {% include "landing/_header.html" %}
{% endblock %}

{% block main %}
    <section id="hero">{% include "landing/_hero.html" %}</section>
    <section id="about">{% include "landing/_about.html" %}</section>
    <section id="projects">{% include "landing/_projects.html" %}</section>
    <section id="contact">{% include "landing/_contact.html" %}</section>
    <section id="blog">{% include "landing/_blog.jinja" %}</section>
{% endblock %}


