/* Upload Font */
@font-face {
    font-family: 'JetBrainsMono';
    src: url("/static/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Global Styling */
body {
    background-color: black;
    margin: 0 2rem;
}

html {
    font-family: "JetBrainsMono", sans-serif;
}

h1, h2, h3 {
    color: hotpink;
}

p {
    color: white;
}

/* Navigation */
header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

nav a, nav p {
    text-decoration: none;
    color: hotpink;
    margin: 0 0.5rem;
}

.nav-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem; 
}

.nav-left p {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

/* Hero Styling */
#hero {
    margin-bottom: 23rem;
}

#hero-title {
    font-size: 4rem;
    /* line-height: 1.2; */
    margin: 3rem 7rem;
}

#hero-subtitle {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

/* About Me Styling */
#about {
    margin-bottom: 23rem;
}
