/* Upload Font */
@font-face {
    font-family: 'JetBrainsMono';
    src: url("/static/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("/static/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Color Variables */
:root {
    --background-color: black;
    --accent-1: #e54980;
    --accent-2: white;
}

:root.light {
    --background-color: white;
    --accent-1: #e54980;
    --accent-2: black;
}

:root.proton {
    --background-color: #16141c;
    --accent-1: #6d4aff;
    --accent-2: white;
}

:root.forest {
    --background-color: darkgreen;
    --accent-1: rgb(189, 130, 11);
    --accent-2: lightgreen;
}

:root.portal {
    --background-color: #d4d7dc;
    --accent-1: #02b3fb;
    --accent-2: #fe7f00;
}

:root.twin-peaks {
    --background-color: #5a2e27;
    --accent-1: #71d552;
    --accent-2: #1ab7bc;
}

/* Global Styling */
body {
    background-color: var(--background-color);
    margin: 0 2rem;
}

html {
    font-family: "JetBrainsMono", sans-serif;
}

h1, h2, h3 {
    color: var(--accent-1);
}

p {
    color: var(--accent-2);
}

/* Section Spacing */
section {
    min-height: 100vh;
}

/* Navigation */
header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-left p {
    font-weight: bold;
    color: var(--accent-1);
}

.nav-left p:hover {
    color: var(--accent-2);
}

.nav-right ul {
    display: flex;
    gap: 1rem;        
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-right a {
    margin: 0;
    text-decoration: none;
    color: var(--accent-1);
    font-size: 0.95rem;
}

.nav-right button {
    background: none;
    border: none;
    padding: 0;
    color: var(--accent-1);
    font-size: 0.95rem;
    cursor: pointer;
    font-family: "JetBrainsMono", sans-serif;
}

.nav-right a:hover, .nav-right button:hover {
    color: var(--accent-2);
}

/* Hero Styling */
#hero-title {
    font-size: 4rem;
    /* line-height: 1.2; */
    margin: 3rem 7rem;
}

#hero-subtitle {
    color: var(--accent-2);
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

/* Box */
.box {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.box-item {
    flex: 1 1 250px;
    background: var(--background-color);
    border: 5px solid var(--accent-1);
    border-radius: 10px;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
}

.box-item:hover {
    border: 5px solid var(--accent-2);
    transform: translateY(-4px);
}
