/* Upload Font */
@font-face {
    font-family: 'JetBrainsMono';
    src: url("/static/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url("/static/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Global Styling */
body {
    background-color: black;
    margin: 0 2rem;
}

html {
    font-family: "JetBrainsMono", sans-serif;
}

h1, h2, h3 {
    color: hotpink;
}

p {
    color: white;
}

/* Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-left p {
    font-weight: bold;
    color: hotpink;
}

.nav-left p:hover {
    color: white;
}

.nav-right ul {
    display: flex;
    gap: 1rem;        
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-right a {
    margin: 0;
    text-decoration: none;
    color: hotpink;
    font-size: 0.95rem;
}

.nav-right a:hover {
    color: white;
}

/* Hero Styling */
#hero {
    margin-bottom: 23rem;
}

#hero-title {
    font-size: 4rem;
    /* line-height: 1.2; */
    margin: 3rem 7rem;
}

#hero-subtitle {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

/* About Me Styling */
#about {
    margin-bottom: 23rem;
}

/* Box */
.box {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.box-item {
    flex: 1 1 250px;
    background: black;
    border: 5px solid hotpink;
    border-radius: 10px;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
}

.box-item:hover {
    border: 5px solid white;
    transform: translateY(-4px);
}
